---
title: "Bunnet: The RabbitMQ Message Viewer"
layout: "base"
---

<!-- Hero Section -->
<div class="text-center p-8">
    <h1 class="text-4xl font-bold font-logo py-2">Streamline Your RabbitMQ Message Handling with Bunnet</h1>
    <p class="mt-4 text-lg">
        The open-source client that lets you connect, visualize, and manage AMQP messages with precision.
    </p>
</div>

<!-- Work in Progress Notice Section -->
<div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mt-6 rounded-md shadow-sm">
        <h2 class="text-xl font-semibold">Bunnet is a Work in Progress</h2>
        <p class="mt-2">
            Bunnet is currently in beta, and some bugs are to be expected. Please help us improve by reporting any
            issues or suggesting new features on our <a
                    href="http://github.com/cr0wst/bunnet/issues"
                    class="font-medium underline hover:text-yellow-800">GitHub issues page</a>.
        </p>
    </div>
</div>


<!-- Image Section -->
<div class="flex justify-center my-8">
    <img src="{{ '/assets/images/bunnet.png' | url }}" alt="Bunnet tool interface">
</div>

<!-- Features Section -->
<div class="bg-slate-50 rounded-md p-4 text-slate-700">
    <h2 class="text-3xl font-bold font-logo text-center">Why Choose Bunnet?</h2>
    <div class="grid md:grid-cols-3 gap-6 mt-3 pt-3 border-t border-orange-500">
        <div class="flex flex-col">
            <h3 class="text-xl font-semibold">Visualize and Filter Messages</h3>
            <p class="text-md mt-2 text-justify">
                Gain clear insights into your message streams with powerful visualization tools and customizable
                filters.
            </p>
        </div>
        <div class="flex flex-col">
            <h3 class="text-xl font-semibold">Seamless Integration</h3>
            <p class="text-md mt-2 text-justify">
                Integrates smoothly into your existing setup with auto-deleting queues to keep your system pristine.
            </p>
        </div>
        <div class="flex flex-col">
            <h3 class="text-xl font-semibold">Interactive Messaging</h3>
            <p class="text-md mt-2 text-justify">
                Interact directly with your messages: send updates back to exchanges and manipulate JSON data
                effortlessly.
            </p>
        </div>
    </div>
</div>